body{
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.wel{
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.foo{
    background-color: #6d6d6d10;
    backdrop-filter: blur(5px);
    width: 100%;
}

.kirim{
    
}

.kirim:hover{
   cursor: not-allowed;
}

